<h2>
	<h2 id="title">User Registration</h2>
  {{input type="text" placeholder="Your name" value=name }}<br><br>
  {{input type="password" placeholder="password" value=password }}<br><br>
	<button {{action "validateLoginDetails"}}>
		Enter
	</button>
</h2>

